body {
  font-family: "Poppins", sans-serif;
}

.badge {
  font-weight: 500;
}

.text-primary {
  color: $primary !important;
}

.border-primary {
  border-color: $primary !important;
}

.btn-outline-primary {
  color: $primary;
  border-color: $primary;
}